@font-face {
  font-family: 'HeadingFont';
  src: url('../sweet_pea/Sweet Pea_2.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'SubFont';
  src: url('../moon_flower/Moon Flower Bold.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'BodyFont';
  src: url('../weblysleek_ui/weblysleekuil.ttf');
}
body {
    /* light teal grey */
    background-color: rgb(234, 255, 248);
    /* navy */
    color: rgb(0, 51, 76);
    font-size: 16px;
    font-family: 'BodyFont', sans-serif;
}
.main-banner {
    background: url('../img/front_flowers_white.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*100% of viewport height*/
    min-height: 100vh;
}
.main-banner>.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.main-banner>.banner-text .logo {
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 20px;
}
#sticky-nav {
    margin: 0;
    /*coral*/
    background-color: rgb(255, 163, 139);
    font-family: 'BodyFont', sans-serif;
    border: none;
}
#sticky-nav a {
    font-size: 2em;
    color: #FFFBFB;
    margin: 0;
}
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
h1 {
  font-family: 'HeadingFont', cursive;
  font-size: 8em;
  margin: 30px;
  text-align: center;
  /*navy*/
  color: rgb(0, 51, 76);
}
h2 {
  font-family: 'HeadingFont', cursive;
  font-size: 5em;
  color: rgb(0, 51, 76);
}
h2.location {
  font-size: 4em;
}
h3 {
  font-family: 'SubFont', cursive;
  font-size: 3em;
}
.about-the-couple {
  /*width: 90%;
  margin: auto;*/
}
.answers h4 {
  text-align: center;
}

.answers strong{
  font-size: 1.15em;
}
.answers li {
  text-align: justify;
}
img.okc-pic {
  /*float: left;*/
}
img.couple-pic {
  max-width: 350px;
  max-height: 400px;
}
img.wed-party {
  width: 120px;
  height: 120px;
}
p.wedding-party-backstory {
  width: 120px;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
h4 {
  font-family: 'HeadingFont', cursive;
  font-size: 1.75em;
  /*color: #FFFBFB;*/
  color: rgb(0, 51, 76);
}
.gal h4:hover, .guy h4:hover {
  color: rgb(255, 163, 139);
}
.wed-party-mem li {
  margin: 10px auto;
}
img.gal-pic, img.guy-pic {
  float: left;
  margin: 5px;
}
.person-bio {
  display: none;
}
.wed-party-backstory {
  text-align: justify;
}
.schedule p {
  font-size: 1.25em;
}
.menu {
  font-family: HeadingFont;
}
.menu:hover {
  color: rgb(255, 163, 139);
}
.menu-modal {
  display: none;
  overflow: scroll;
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  z-index: 100;
  background-color: rgb(255, 163, 139);
}
.menu-listing li {
  font-size: 2em;
  color: #FFFBFB;
}
img.hotel-pic {
  width: 250px;
  height: 250px;
}
.hotel-info a {
  font-family: 'HeadingFont', cursive;
  font-size: 2.25em;
}
img.registry-store {
  max-width: 200px;
}

.endorsements {
    margin: 80px auto;
    max-width: 1800px;
}
.endorsements blockquote {
    border: none;
    background-color: rgb(255, 163, 139);
    color: #FFFBFB;
}
blockquote h3 {
    font-family: 'SubFont', cursive;
}
blockquote footer {
    font-family: 'HeadingFont', cursive;
    color: #FFFBFB;
}
blockquote, .blockquote-reverse {
    display: inline-block;
    margin-bottom: 40px;
    padding: 10px 20px;
}
.endorsements blockquote:nth-child(even) {
    float: right;
}
.endorsements blockquote:nth-child(odd) {
    float: left;
}
@media (max-width: 767px) {
    blockquote h3, blockquote footer {
      font-size: 1em;
      line-height: 1.2em;
    }
    .endorsements blockquote {
      max-width: 85%;
    }
}
@media (min-width: 768px) {
    blockquote h3, blockquote footer {
        font-size: 1.5em;
        line-height: 1.3em;
    }
    .endorsements blockquote {
        max-width: 65%;
    }
}
.footer {
  font-family: 'SubFont', cursive;
  font-size: 3em;
  text-align: center;
  padding: 20px;
}
